*{
    margin-left: auto;
    margin-right: auto;
   text-align: center;

}
.logout
{
    margin-left: 70%;
    margin-top: 50px;
    padding: 10px 10px;
    border-radius: 10px;
    width: 100px;
  text-decoration: none;
    background-image: linear-gradient(45deg,Purple,white);

}
.logout :hover{
    color: red;

}
.btn1{
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 10px;
    background:linear-gradient(45deg,purple,purple,white);
    cursor: pointer;
}
.btn3
{
    padding: 10px 10px;
    background-color:darkorange;
    border-radius: 10px;
    cursor:pointer;
}
.btn3:hover{
    background-color: chartreuse;
}